@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    color-scheme: dark;
}
body{
    font-family: 'Montserrat', sans-serif;
}
#formEditable{
    display: grid;
    place-items: center;
    padding: 1em;
    text-align: center;
}

#submitEditable{
    margin-top: 1em;
}
#formContainer{
    display: grid;
    place-items: center;
    margin-bottom: 1em;
}

#alumnosContainer{
    display: grid;
    grid-template-columns: repeat(3, 15em);
    row-gap: 1em;
    column-gap: 1em;
    place-content: center;
}

#divAlumno{
    display: grid;
    margin-bottom: 1em;
    background-color: white;
    color: black;
    place-items: center;
    border-radius: 15px;
}
#botonBorrar{
    margin-left:1em;
}
#spanBotones{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em ;

}
#spanBotones> button{

margin-right:1em ;

}

#editButton #deleteButton {
    width: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 1em;
}